---
---
{% include bootstrap.min.css %}
{% include fonts.css %}
body, p, label, input, select, textarea, h1, h2, h3, h4, h5, h6, div, span {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-top: 0;
}
@media (max-width:767px) {
  .text-right-sm, .text-left-sm {
    text-align: center;
    border-left: none;
    border-right: none;
    margin: 20px 20px;
  }
  h1 { font-size: 25px; }
  p { margin-left: 10%; margin-right: 10%; }
}
@media (min-width:768px) {
  .text-left-sm { border-left: 1px solid black; }
  .text-right-sm { border-right: 1px solid black; margin-right: -1px; }
  section.body { width: 750px; margin: 50px auto; }
  h1 { font-size: 45px; }
}
section.top { height: 50vh;
  background: url('/static/splash.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
input, input.btn, #mce-responses .response { margin-bottom: 1em; }
