<!DOCTYPE html>
<html>
<head>
<title>OPEN - The Online Progressive engagement Network</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="title" content="The Online Progressive Engagement Network" />
  <meta name="description" content="Our member organizations use a common model
    of member-led, large-scale campaigning to help a combined 15+ million supporters act together for the common good. OPEN exists to help this unique global family of national movements collaborate, share and grow. Join Us!" />
  <meta name="keywords" content="online progressive engagement network political
    non-party independent activism citizen empowermend social climate economic racial justice human rights feminism equality gender sexuality expression non-conforming people-powered grassroots digital petition protest vote volunteer donate" />
  <meta property="og:title" content="The Online Progressive Engagement Network,
    a sisterhood of grassroots campaigning organizations from around the world."/>
  <meta property="og:type" content="company"/>
  <meta property="og:site_name" content="The OPEN"/>
  <meta property="og:description" content="OPEN is a sisterhood of grassroots
    campaigning organizations from around the world. Our member organizations use a common model of member-led, large-scale campaigning to help a combined 15+ million supporters act together for the common good. OPEN exists to help this unique global family of national movements collaborate, share and grow. " />
  <meta property="og:url" content="{{ site.domainroot }}/{{ page.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:image"
    content="{{ cdn_domainroot }}/logo-files/I7F62DFN_1376050806888.jpg?_=0"/>

  <link rel="image_src"
    href="{{ cdn_domainroot }}/logo-files/I7F62DFN_1376050806888.jpg?_=0" />

  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  <link href="static/themes/focus/focus.css" rel="stylesheet" type="text/css">
  <link href="static/themes/focus/focus-mobile.css" rel="stylesheet" type="text/css"
    media="only screen and (min-device-width : 320px) and (max-device-width : 480px)">
  <link href="static/themes/focus/focus-tablet.css" rel="stylesheet" type="text/css"
    media="(min-height: 600px) and (max-height: 799px)">
  <link rel="shortcut icon"
    href="{{ cdn_domainroot }}/favicon-files/site-default.ico">
  <link rel="stylesheet" type="text/css" href="static/css.css">

</head>

<body>

{{ content }}

</body>
</html>
