<!DOCTYPE html>
<html>
<head>
<title>OPEN - The Online Progressive engagement Network</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="title" content="{{ site.meta.title }}" />
  <meta name="description" content="{{ site.meta.description }}" />
  <meta name="keywords" content="{{ site.meta.keywords }}" />
  <meta property="og:title" content="{{ site.meta.fb_title }}"/>
  <meta property="og:type" content="{{ site.meta.fb_type }}"/>
  <meta property="og:site_name" content="{{ site.meta.fb_site_name }}"/>
  <meta property="og:description" content="{{ site.meta.fb_description }}" />
  <meta property="og:url" content="{{ site.domainroot }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:image" content="/static/splash.jpg"/>
  <link rel="image_src" href="/static/splash.jpg" />

  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

  <link href="/static/themes/focus/focus.css" rel="stylesheet" type="text/css">
  <link href="/static/themes/focus/focus-mobile.css" rel="stylesheet" type="text/css"
    media="only screen and (min-device-width : 320px) and (max-device-width : 480px)">
  <link href="/static/themes/focus/focus-tablet.css" rel="stylesheet" type="text/css"
    media="(min-height: 600px) and (max-height: 799px)">
  <link rel="shortcut icon"
    href="/static/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/css.css">

</head>

<body>

{{ content }}

<script type="text/javascript" src="static/ignition-current.js"></script>
<!-- End LaunchRock Widget -->

</body>
</html>
